<td>

<div class="product3 outline">
	<a href="<%=getCurrentAttribute('item','storeurl')%>"><img class="prodimg" src="<%=getCurrentAttribute('item','custitem_mrf_ext_ftimage')%>" alt="<%=getCurrentAttribute('item','storedisplayname')%>"></a>
	<h3><%=getCurrentAttribute('item','storedisplayname')%></h3>
	<p class="subtitle"><%=getCurrentAttribute('item','storedescription')%></p>
	<p class="shortdesc"><%=getCurrentAttribute('item','featureddescription')%></p>
	<p class="buttons"><a href="<%=getCurrentAttribute('item','storeurl')%>"><img src="/site/woolmans/img/btn_moreinfo_215x30.gif" alt="More info"></a></p>
</div>

</td>